{% extends "layout.html" %}

{% block title %}Add content{% endblock %}


{% block content %}
  <script src="{{ url_for('static', filename='dist/js/add_content.js') }}"></script>
  <h1>{{ _('Add content') }}</h1>
  {% if error %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endif %}
  {% if success %}
    <div class="alert alert-success" role="alert">
      {{ success }}
    </div>
  {% endif %}
  <iron-form id="form" class="form needs-validation">
    <form action="{{ url_for('admin.add_content') }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div>
        <div class="btn-group-vertical" role="group">
          <div class="btn btn-group-text disabled text-nowrap">{{ _('Kind') }}</div>
          <div class="btn-group" role="group" id="kind">
            <input type="radio" name="kind" value="Movie" id="movie" class="btn-check form-check-input" required>
            <label for="movie" class="btn btn-outline-success form-check-label">{{ _('Movie') }}</label>
            <input type="radio" name="kind" value="Series" id="series" class="btn-check form-check-input" required>
            <label for="series" class="btn btn-outline-success form-check-label">{{ _('Series') }}</label>
          </div>
        </div>
        <div class="btn-group-vertical" role="group">
          <div class="btn btn-group-text disabled text-nowrap">{{ _('Type') }}</div>
          <div class="btn-group" role="group" id="type">
            {% for ct in dicts.ContentType.objects %}
              <input type="radio" name="type" value="{{ ct.code }}" id="type_{{ ct.code }}"
              class="btn-check" required>
              <label for="type_{{ ct.code }}" class="btn btn-outline-success">{{ ct.title() }}</label>
            {% endfor %}
          </div>
        </div>
        <div class="btn-group-vertical" role="group">
          <div class="btn btn-group-text disabled text-nowrap">{{ _('Original language') }}</div>
          <select class="form-select btn btn-outline-success active" name="original_language" required id="original_language"
          onchange="let ot = document.getElementById('original_title');
          ot.hidden = this.value == '{{ dicts.Language.default.code }}';
          ot.required = !ot.hidden">
            <option value="{{ dicts.Language.default.code }}">{{ dicts.Language.default.title() }}</option>
            {% for l in dicts.Language.other %}
              <option value="{{ l.code }}">{{ l.title() }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="d-flex flex-row">
        <paper-input label="Code" name="code" required class="flex-grow-1"
        pattern="{{ Content.code_pattern }}" auto-validate
        error-message="{{ _('Code must be unique and match pattern')+': '+Content._code_pattern}}"></paper-input>
        <paper-input label="Title" name="title" required class="flex-grow-1"></paper-input>
        <paper-input label="Original title" name="original_title" hidden class="flex-grow-1" id="original_title"></paper-input>
      </div>
      <paper-textarea label="Description" name="description" required auto-resize></paper-textarea>
      <button type="submit" class="btn btn-success" style="float: right;">{{ _('Submit') }}</button>
    </form>
  </iron-form>
  <script>
    for (let pi of document.querySelectorAll('paper-input')) {
      pi.addEventListener('keydown', (event) => {
        if (event.key == 'Enter') {
          event.preventDefault();
          document.querySelector('button[type="submit"]').click();
        }
      });
    }
  </script>
{% endblock %}