{% extends "layout.html" %}
<!-- Admin menu (jast a nav bar with links to admin pages) -->
{% block content %}
  {% block admin_menu %}
    <nav>
      <ul class="nav nav-pills nav-left">
        <li role="presentation" {% if active_page == 'admin' %}class="active"{% endif %}>
          <a id="admin-tab" href="{{ url_for('admin.admin') }}">{{ _('Admin') }}</a>
        </li>
        <li role="presentation" {% if active_page == 'dictionaries' %}class="active"{% endif %}>
          <a id="dictionaries-tab" href="{{ url_for('admin.dictionaries') }}">{{ _('Dictionaries') }}</a>
        </li>
        {# <li role="presentation" class="{% if active_page == 'users' %}active{% endif %}">
          <a id="users-tab" href="{{ url_for('admin.users') }}">{{ _('Users') }}</a>
        </li>
        <li role="presentation" class="{% if active_page == 'settings' %}active{% endif %}">
          <a id="settings-tab" href="{{ url_for('admin.settings') }}">{{ _('Settings') }}</a>
        </li> #}
      </ul>
    </nav>
  {% endblock %}
  {% block admin_content %}{% endblock %}
{% endblock %}

{% block footer %}{% endblock %}