{% extends "admin/admin_menu.html" %}
{% block title %}Dictionaries{% endblock %}
{% block admin_content %}
{# Dictionary model:

class Label(db.EmbeddedDocument):
  language: tools.Language = db.ReferenceField('tools.Language', primary_key=True)
  label: str = db.StringField(max_length=255, required=True)

class Description(db.EmbeddedDocument):
  language: tools.Language = db.ReferenceField('tools.Language', primary_key=True)
  description: str = db.StringField(required=True)

class LabelManager:
  name: str = db.StringField(max_length=255, required=True)
  _labels: list[_types.Label] = db.ListField(db.EmbeddedDocumentField(_types.Label, unique=True), default=[])
  
  def label(self, language: Language | None = None) -> str:
    ln_code = language.code if language else 'en'
    for l in self._labels:
      if l.language.code == ln_code:
        return l.label
    return self.name.capitalize()
  
  def set_label(self, language: Language, label: str, save: bool = True):
    for l in self._labels:
      if l.language == language:
        l.label = label
        if save: self.save()
        return self
    self._labels.append(_types.Label(language=language, label=label))
    if save: self.save()
    return self
  
  def remove_label(self, language: Language, save: bool = True):
    for l in self._labels:
      if l.language == language:
        self._labels.remove(l)
        if save: self.save()
    return self

class DescriptionManager:
  _descriptions: list[_types.Description] = db.ListField(db.EmbeddedDocumentField(_types.Description), default=[])
  
  def description(self, language: Language | None = None) -> str:
    ln_code = language.code if language else 'en'
    for d in self._descriptions:
      if d.language.code == ln_code:
        return d.description
    return ''
  
  def set_description(self, language: Language, description: str, save: bool = True):
    for d in self._descriptions:
      if d.language == language:
        d.description = description
        if save: self.save()
        return self
    self._descriptions.append(_types.Description(language=language, description=description))
    if save: self.save()
    return self
  
  def remove_description(self, language: Language, save: bool = True):
    for d in self._descriptions:
      if d.language == language:
        self._descriptions.remove(d)
        if save: self.save()
    return self

class Dictionary(db.Document, LabelManager, DescriptionManager):
  meta = {'abstract': True, 'allow_inheritance': True, 'ordering': ['name'], 'indexes': ['name', 'code']}
  active: bool = db.BooleanField(default=True, required=True)
  name: str = db.StringField(max_length=255, required=True)
  code: str = db.StringField(max_length=255, primary_key=True, required=True)
    code_pattern: str = '^[a-z0-9_]{1,255}$'
    
    def __unicode__(self) -> str:
        return str(self.name).capitalize()


class Language(Dictionary):
  code: str = db.StringField(max_length=2, primary_key=True)
  code_pattern: str = '^[a-z]{2}$'

dictionaries = [{
	'name': ..., # Dictionary name
	'objects': [...], # List of dictionary objects
  'object': ..., # Dictionary object
  'fields': [...] # List of dictionary fields
}, ...]

languages = {
  'en': ..., # English language
  'other': [...] # Other languages
}
#}
<script type="module">
	import '{{ url_for('static', filename='dist/webcomponents/@polymer/paper-checkbox/paper-checkbox.js') }}';
</script>
<div class="row clearfix no-margin no-padding">
	<div class="col-md-12">
		<ul class="nav nav-tabs nav-justified" role="tablist">
			{% for d in dictionaries %}
			<li class="nav-item clearfix no-margin no-padding"role="presentation">
        <a href="#{{ d.name }}" class="nav-link" data-bs-toggle="tab" role="tab"
        onclick="localStorage.setItem('adminDictsSelectedTab', '{{ d.name }}');"
        data-bs-target="#{{ d.name }}">{{ d.name }}</a>
			</li>
			{% endfor %}
		</ul>
		<div class="tab-content">	
			{% for d in dictionaries %}
				<div class="tab-pane clearfix no-margin no-padding"
				id="{{ d.name }}" role="tabpanel">
					<table class="table">
						<thead>
							<tr>
								<th>Code</th>
								<th>Name</th>
								<th>Label</th>
								<th>Description</th>
								<th>Active</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
              <form method="post" action="{{ url_for('admin.dictionary_add', d_name=d.name) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <tr>
                  <td><input class="form-control" type="text" name="code" required
                  pattern="(?!{% for o in d.objects %}{{ o.code }}{% if not loop.last %}|{% endif %}{% endfor %}){{ d.object.code_pattern }}"
                  title='Code must match pattern "{{ d.object.code_pattern }}" and must not be equal to any of the existing codes.'/></td>
                  <td><input class="form-control" type="text" name="name" required/></td>
                  <td>
                    <div class="input-group flex-nowrap">
                      <button class="btn btn-outline-secondary input-group-btn" type="button"
                      data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse{{ d.name }}new"
                      data-bs-target="#collapse{{ d.name }}new">
                        {{ languages['en'].label() }}
                      </button>
                      <input class="form-control" type="text" name="label_en" required/>
                    </div>
                    <div class="collapse" id="collapse{{ d.name }}new"
                    aria-expanded="false" aria-controls="collapse{{ d.name }}new"
                    data-bs-parent="#collapse{{ d.name }}new">
                      {% if d.name == 'Language' %}
                        <div class="input-group flex-nowrap">
                          <span class="input-group-text">{{ _('Self') }}</span>
                          <input class="form-control" type="text" name="label_self" required
                          oninvalid="document.querySelectorAll('#collapse{{ d.name }}new').forEach((e) => e.classList.add('show'))"/>
                        </div>
                      {% endif %}
                      {% for l in languages['other'] %}
                        <div class="input-group flex-nowrap">
                          <span class="input-group-text">{{ l.label() }}</span>
                          <input class="form-control" type="text" name="label_{{ l.code }}"/>
                        </div>
                      {% endfor %}
                    </div>
                  </td>
                  <td>
                    <div class="input-group flex-nowrap">
                      <textarea class="form-control" type="text" name="description_en" style="height: 1rem;"></textarea>
                    </div>
                    <div class="collapse" id="collapse{{ d.name }}new"
                    aria-expanded="false" aria-controls="collapse{{ d.name }}new">
                      {% if d.name == 'Language' %}
                        <div class="input-group flex-nowrap">
                          <textarea class="form-control" type="text" name="description_self" style="height: 1rem;"></textarea>
                        </div>
                      {% endif %}
                      {% for l in languages['other'] %}
                        <div class="input-group flex-nowrap">
                          <textarea class="form-control" type="text" name="description_{{ l.code }}" style="height: 1rem;"></textarea>
                        </div>
                      {% endfor %}
                    </div>
                  </td>
                  <td class="text-center" style="vertical-align: middle;">
                    <input type="hidden" name="active" value='true'/>
                    <paper-checkbox name="active" checked onchange="this.previousElementSibling.value = this.checked;"/>
                  </td>
                  <td class="text-center text-nowrap">
                    <button class="btn btn-block btn-outline-secondary" type="submit" style="width: 100%;">{{ _('Add') }}</button>
                  </td>
                </tr>
              </form>
							{% for o in d.objects %}
                <form method="post" action="{{ url_for('admin.dictionary_edit', d_name=d.name, o_id=o.code) }}">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <tr>
                    <td><input class="form-control" type="text" name="code" value="{{ o.code }}"
                    pattern="(?!{% for o2 in d.objects %}{{ o2.code }}{% if not loop.last %}|{% endif %}{% endfor %}){{ d.object.code_pattern }}"
                    title='Code must match pattern "{{ d.object.code_pattern }}" and must not be equal to any of the existing codes.'/></td>
                    <td><input class="form-control" type="text" name="name" value="{{ o.name }}"/></td>
                    <td>
                      <div class="input-group flex-nowrap">
                        <button class="btn btn-outline-secondary input-group-btn" type="button"
                        data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse{{ d.name }}{{ o.code }}"
                        data-bs-target="#collapse{{ d.name }}{{ o.code }}">
                          {{ languages['en'].label() }}
                        </button>
                        <input class="form-control" type="text" name="label_en" value="{{ o.label(languages['en']) }}" required/>
                      </div>
                      <div class="collapse" id="collapse{{ d.name }}{{ o.code }}"
                      aria-expanded="false" aria-controls="collapse{{ d.name }}{{ o.code }}"
                      data-bs-parent="#collapse{{ d.name }}{{ o.code }}">
                        {% for l in languages['other'] %}
                          <div class="input-group flex-nowrap">
                            <span class="input-group-text">{{ l.label() }}</span>
                            <input class="form-control" type="text" name="label_{{ l.code }}" value="{{ o.label(l) }}"
                            required="{{ d.name == 'Language' and l.code == o.code }}"
                            oninvalid="document.querySelectorAll('#collapse{{ d.name }}{{ o.code }}').forEach((e) => e.classList.add('show'))"/>
                          </div>
                        {% endfor %}
                      </div>
                    </td>
                    <td>
                      <div class="input-group flex-nowrap">
                        <textarea class="form-control" type="text" name="description_en" style="height: 1rem;">{{ o.description(languages['en']) }}</textarea>
                      </div>
                      <div class="collapse" id="collapse{{ d.name }}{{ o.code }}"
                      aria-expanded="false" aria-controls="collapse{{ d.name }}{{ o.code }}"
                      data-bs-parent="#collapse{{ d.name }}{{ o.code }}">
                        {% for l in languages['other'] %}
                          <div class="input-group flex-nowrap">
                            <textarea class="form-control" type="text" name="description_{{ l.code }}" style="height: 1rem;">{{ o.description(l) }}</textarea>
                          </div>
                        {% endfor %}
                      </div>
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                      <input type="hidden" name="active" value='{{ o.active }}'/>
                      <paper-checkbox name="active" checked="{{ o.active }}" onchange="this.previousElementSibling.value = this.checked;"/>
                    </td>
                    <td class="text-center text-nowrap">
                      <div class="btn-group" role="group" style="width: 100%;">
                        <button class="btn btn-outline-secondary" type="submit" style="width: 100%;">{{ _('Save') }}</button>
                        <a class="btn btn-outline-secondary" href="{{ url_for('admin.dictionary_delete', d_name=d.name, o_code=o.code) }}"
                        onclick="return confirm('{{ _('Are you sure you want to delete this item?') }}');">
                          <i class="fa fa-trash"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </form>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% endfor %}
		</div>
    <script>
      // Restore selected tab
      const adminDictsSelectedTab = localStorage.getItem('adminDictsSelectedTab');
      if (adminDictsSelectedTab) {
        const tab = document.querySelector(`a[href="#${adminDictsSelectedTab}"]`);
        if (tab) {
          tab.classList.add('active');
          const tabPane = document.querySelector(`#${adminDictsSelectedTab}`);
          if (tabPane) {
            tabPane.classList.add('active');
            const field = tabPane.querySelector('input[name="code"]');
            if (field) { field.focus(); }
          }
        }
      } else {
        // Select first tab
        const dict0name = '{{ dictionaries[0].name }}'
        const tab = document.querySelector(`a[href="#${dict0name}"]`);
        if (tab) {
          tab.classList.add('active');
          const tabPane = document.querySelector(`#${dict0name}`);
          if (tabPane) {
            tabPane.classList.add('active');
            const field = tabPane.querySelector('input[name="code"]');
            if (field) { field.focus(); }
          }
        }
      }
    </script>
	</div>
</div>
{% endblock %}