{% extends "admin/admin_menu.html" %}
{% block title %}Dictionaries{% endblock %}
{% block admin_content %}
  <script type="module">
    import '{{ url_for('static', filename='dist/webcomponents/@polymer/paper-checkbox/paper-checkbox.js') }}';
  </script>
  <div class="row clearfix no-margin no-padding">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        {% for d_name in dicts %}
        <li class="nav-item clearfix no-margin no-padding"role="presentation">
          <a href="#{{ d_name }}" class="nav-link" data-bs-toggle="tab" role="tab"
          onclick="localStorage.setItem('adminDictsSelectedTab', '{{ d_name }}');"
          data-bs-target="#{{ d_name }}">{{ d_name }}</a>
        </li>
        {% endfor %}
      </ul>
      <div class="tab-content">	
        {% for d_name, dict in dicts.items() %}
          <div class="tab-pane clearfix no-margin no-padding"
          id="{{ d_name }}" role="tabpanel">
            <table class="table">
              <thead>
                <tr>
                  <th>{{ _('Code') }}</th>
                  <th>{{ _('Title') }}</th>
                  <th>{{ _('Description') }}</th>
                  <th style="width: 0;  ">{{ _('Active') }}</th>
                  <th style="width: 0;  ">{{ _('Actions') }}</th>
                </tr>
              </thead>
              <tbody>
                <form method="post" action="{{ url_for('admin.dictionary_add', d_name=d_name) }}">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <tr>
                    <td><input class="form-control" type="text" name="code" required
                    pattern="{{ dict.code_pattern }}"
                    title='Code must match pattern "{{ dict._code_pattern }}" and must not be equal to any of the existing codes.'></td>
                    <td>
                      {% macro main_title_input(obj) %}
                        {% if d_name == 'Language' %}
                          {{ _('Self') }}
                          </button>
                          <input class="form-control" type="text" name="title_self" value="{{ obj.title(obj, False) if obj else '' }}" required>
                        {% else %}
                          {{ dicts.Language.default.title() }}
                          </button>
                          <input class="form-control" type="text" name="title_{{ dicts.Language.default.code }}"
                          value="{{ obj.title(dicts.Language.default, False) if obj else '' }}" required>
                        {% endif %}
                        {% if dict.plural_title %}
                          <input class="form-control" type="text" name="pluraltitle_{{ dicts.Language.default.code }}"
                          value="{{ obj.title(dicts.Language.default, False, True) if obj else '' }}" placeholder="Plural title">
                        {% endif %}
                      {% endmacro %}
                      {% macro second_title_input(obj) %}
                        {% if d_name == 'Language' %}
                          <div class="input-group flex-nowrap">
                            <span class="input-group-text">{{ dicts.Language.default.title() }}</span>
                            <input class="form-control" type="text" name="title_{{ dicts.Language.default.code }}" required
                            value="{{ obj.title(dicts.Language.default, False) if obj else '' }}"
                            oninvalid="document.querySelectorAll('#collapse{{ d_name }}new').forEach((e) => e.classList.add('show'))">
                            {% if dict.plural_title %}
                              <input class="form-control" type="text" name="pluraltitle_{{ dicts.Language.default.code }}"
                              value="{{ obj.title(dicts.Language.default, False, True) if obj else '' }}">
                            {% endif %}
                          </div>
                        {% endif %}
                      {% endmacro %}
                      <div class="input-group flex-nowrap">
                        <button class="btn btn-outline-secondary input-group-btn" type="button"
                        data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse{{ d_name }}new"
                        data-bs-target="#collapse{{ d_name }}new">
                          {{ main_title_input(None) }}
                      </div>
                      <div class="collapse" id="collapse{{ d_name }}new" aria-expanded="false" aria-controls="collapse{{ d_name }}new"
                      data-bs-parent="#collapse{{ d_name }}new">
                        {{ second_title_input(None) }}
                        {% for l in dicts.Language.other %}
                          <div class="input-group flex-nowrap">
                            <span class="input-group-text">{{ l.title(l) }}</span>
                            <input class="form-control" type="text" name="title_{{ l.code }}">
                            {% if dict.plural_title %}
                              <input class="form-control" type="text" name="pluraltitle_{{ l.code }}">
                            {% endif %}
                          </div>
                        {% endfor %}
                      </div>
                    </td>
                    <td>
                      {% macro main_description_input(obj) %}
                        {% if d_name == 'Language' %}
                          <textarea class="form-control" name="description_self"
                          style="height: 1rem;">{{ obj.description(obj) if obj else '' }}</textarea>
                        {% else %}
                          <textarea class="form-control" name="description_{{ dicts.Language.default.code }}"
                          style="height: 1rem;">{{ obj.description(dicts.Language.default) if obj else '' }}</textarea>
                        {% endif %}
                      {% endmacro %}
                      {% macro second_description_input(obj) %}
                        {% if d_name == 'Language' %}
                          <div class="input-group flex-nowrap">
                            <textarea class="form-control" name="description_{{ dicts.Language.default.code }}"
                            style="height: 1rem;">{{ obj.description(dicts.Language.default) if obj else '' }}</textarea>
                          </div>
                        {% endif %}
                      {% endmacro %}
                      <div class="input-group flex-nowrap">
                        {{ main_description_input(None) }}
                      </div>
                      <div class="collapse" id="collapse{{ d_name }}new" aria-expanded="false" aria-controls="collapse{{ d_name }}new"
                      data-bs-parent="#collapse{{ d_name }}new">
                        {{ second_description_input(None) }}
                        {% for l in dicts.Language.other %}
                          <div class="input-group flex-nowrap">
                            <textarea class="form-control" name="description_{{ l.code }}" style="height: 1rem;"></textarea>
                          </div>
                        {% endfor %}
                      </div>
                      <div class="collapse" id="collapse{{ d_name }}new"
                      aria-expanded="false" aria-controls="collapse{{ d_name }}new">
                      </div>
                    </td>
                    <td class="text-center" style="vertical-align: middle;">
                      <input type="hidden" name="active" value='true'>
                      <paper-checkbox name="active" checked onchange="this.previousElementSibling.value = this.checked;">
                      </paper-checkbox>
                    </td>
                    <td class="text-center text-nowrap">
                      <button class="btn btn-block btn-outline-secondary" type="submit" style="width: 100%;">{{ _('Add') }}</button>
                    </td>
                  </tr>
                </form>
                {% for o in dict.objects %}
                  <form method="post" action="{{ url_for('admin.dictionary_edit', d_name=d_name, o_code=o.code) }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <tr>
                      <td><input class="form-control" type="text" name="code" value="{{ o.code }}"
                      pattern="{{ o.self_code_pattern }}" {% if d_name == 'Language' and o.code == 'en' %}disabled{% endif %}
                      title='Code must match pattern "{{ o._code_pattern }}" and must not be equal to any of the existing codes.'></td>
                      <td>
                        <div class="input-group flex-nowrap">
                          <button class="btn btn-outline-secondary input-group-btn" type="button"
                          data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse{{ d_name }}{{ o.code }}"
                          data-bs-target="#collapse{{ d_name }}{{ o.code }}">
                            {{ main_title_input(o) }}
                        </div>
                        <div class="collapse" id="collapse{{ d_name }}{{ o.code }}"
                        aria-expanded="false" aria-controls="collapse{{ d_name }}{{ o.code }}"
                        data-bs-parent="#collapse{{ d_name }}{{ o.code }}">
                          {{ second_title_input(o) if o != dicts.Language.default else '' }}
                          {% for l in dicts.Language.other if l != o %}
                            <div class="input-group flex-nowrap">
                              <span class="input-group-text">{{ l.title(l) }}</span>
                              <input class="form-control" type="text" name="title_{{ l.code }}" value="{{ o.title(l, False) }}"
                              {% if d_name == 'Language' and l.code == o.code %}required{% endif %}
                              oninvalid="document.querySelectorAll('#collapse{{ d_name }}{{ o.code }}').forEach((e) => e.classList.add('show'))">
                              {% if dict.plural_title %}
                                <input class="form-control" type="text" name="pluraltitle_{{ l.code }}" value="{{ o.title(l, False, True) }}">
                              {% endif %}
                            </div>
                          {% endfor %}
                        </div>
                      </td>
                      <td>
                        <div class="input-group flex-nowrap">
                          <textarea class="form-control" name="description_{{ dicts.Language.default.code }}" style="height: 1rem;">{{ o.description(dicts.Language.default) }}</textarea>
                        </div>
                        <div class="collapse" id="collapse{{ d_name }}{{ o.code }}"
                        aria-expanded="false" aria-controls="collapse{{ d_name }}{{ o.code }}"
                        data-bs-parent="#collapse{{ d_name }}{{ o.code }}">
                          {% for l in dicts.Language.other %}
                            <div class="input-group flex-nowrap">
                              <textarea class="form-control" name="description_{{ l.code }}" style="height: 1rem;">{{ o.description(l) }}</textarea>
                            </div>
                          {% endfor %}
                        </div>
                      </td>
                      <td class="text-center" style="vertical-align: middle;">
                        <input type="hidden" name="active" value='{{ o.active }}'>
                        <paper-checkbox name="active" {% if o.active %}checked{% endif %} onchange="this.previousElementSibling.value = this.checked;">
                      </td>
                      <td class="text-center text-nowrap">
                        <div class="btn-group" role="group" style="width: 100%;">
                          <button class="btn btn-outline-secondary" type="submit" style="width: 100%;">
                            <span style="color: green;">{{ _('Save') }}</span>
                          </button>
                          <a class="btn btn-outline-secondary"
                          href="{{ url_for('admin.dictionary_delete', d_name=d_name, o_code=o.code) }}"
                          onclick="return confirm('{{ _('Are you sure you want to delete this item?') }}');">
                            <i class="fa-solid fa-trash" style="color: red;"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </form>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endfor %}
      </div>
      <script>
        // Restore selected tab
        const adminDictsSelectedTab = localStorage.getItem('adminDictsSelectedTab');
        if (adminDictsSelectedTab) {
          const tab = document.querySelector(`a[href="#${adminDictsSelectedTab}"]`);
          if (tab) {
            tab.classList.add('active');
            const tabPane = document.querySelector(`#${adminDictsSelectedTab}`);
            if (tabPane) {
              tabPane.classList.add('active');
              const field = tabPane.querySelector('input[name="code"]');
              if (field) { field.focus(); }
            }
          }
        } else {
          // Select first tab
          const dict0name = '{{ dicts.keys()|list|first }}';
          const tab = document.querySelector(`a[href="#${dict0name}"]`);
          if (tab) {
            tab.classList.add('active');
            const tabPane = document.querySelector(`#${dict0name}`);
            if (tabPane) {
              tabPane.classList.add('active');
              const field = tabPane.querySelector('input[name="code"]');
              if (field) { field.focus(); }
            }
          }
        }
      </script>
    </div>
  </div>
{% endblock %}