{% extends 'layout.html' %}

{% block content %}
{% import 'bootstrap/pagination.html' as pagination %}

{# {% if content_type.has_next %}
  {{ pagination.render(content_type.next_page_url, content_type.previous_page_url, content_type.page_number, content_type.total_pages) }}
{% endif %}

{% for content in Content.objects(type=content_type) %}
  <div class="content-item">
    <img src="{{ content.poster_url }}" alt="{{ content.name }}" class="poster">
    <h2>{{ content.name }}</h2>
  </div>
  {% if loop.index0 % 5 == 4 %}
    <div class="content-row-break"></div>
  {% endif %}
{% endfor %}

{% if content_type.has_next %}
  {{ pagination.render(content_type.next_page_url, content_type.previous_page_url, content_type.page_number, content_type.total_pages) }}
{% endif %}

{% endblock %} #}

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item disabled">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item active"><a class="page-link" href="#"></a></li>
    <li class="page-item"><a class="page-link" href="#"></a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>


  {# <h1>{{ content_type.name }}</h1>
  <div class="content-list">
    {% for content in Content.objects(type=content_type) %}
      <div class="content-item">
        <img src="{{ content.poster_url }}" alt="{{ content.name }}" class="poster">
        <h2>{{ content.name }}</h2>
      </div>
      {% if loop.index0 % 5 == 4 %}
        <div class="content-row-break"></div>
      {% endif %}
    {% endfor %}
  </div>
  {% if content_type.has_next %}
    <a href="{{ content_type.next_page_url }}">Next Page</a>
  {% endif %} #}
{% endblock %}