{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ obj.title() }}</h1>
    {% if obj.original_language != Language.default %}
        <p>{{ obj.title(obj.original_language) }}</p>
    {% endif %}
    <div class="d-flex flex-row">
        <div>
            <img src="{{ obj.poster() }}" alt="{{ obj.title() }}" class="img-fluid">
        </div>
        {# <div>
            <p>{{ obj.year() }}</p>
            <p>{{ obj.duration() }}</p>
            <p>{{ obj.country() }}</p>
            <p>{{ obj.genre() }}</p>
            <p>{{ obj.director() }}</p>
            <p>{{ obj.actors() }}</p>
        </div> #}
    </div>
    <h2>{{ _('Description') }}:</h2>
    <p>{{ obj.description() }}</p>
    
{% endblock %}